/* styles.css */
.card-container img {
  width: 100px;
  height: 100px;
}
.imagenShow {
  display: flex;
  justify-content: center;
}

.card-container,
  .flex-container {
    width: 45%; /* Ancho completo en pantallas menores */
    flex-direction: column; /* Elementos apilados verticalmente en pantallas menores */
  }
.container {
  display: flex;
  justify-content: center;
}

.imagenShow img {
  width: 130px;
  height: 130px;
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container select {
  display: block;
  padding: 10px;
  width: 93%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1rem;
}

.form-container textarea {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1rem;
  resize: vertical;
}

.form-container select {
  appearance: menulist;
}

.form-container button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #a63a31f1;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #45a049;
  
}

.form-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10%;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #b2291df1;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}